@use '../abstract/colors';

.content {
  color: colors.$abbey;
  font-size: 18px;
  font-weight: 400;
}
.description {
  background-color: colors.$white;
  min-width: 300px;
  padding-left: 20px;
}

.sample-elements {
  display: flex;
  flex-direction: row;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px 0px 30px 0px;
  width: 100%;
}

.slider-btn-group {
  background-color: colors.$white;
  padding-left: 50px;
}

.slider-image {
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
  max-height: 200px;
  position: relative;
  width: auto;
  z-index: -1;
}

.slider-row-second-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title {
  color: colors.$chatams_blue;
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
}

.wrapper {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  width: 50%;
}

#sample-first {
  border-radius: 0px 0px 5px 5px;
  flex: 2;
  margin: 0px 0px 30px 10px;
}

#sample-second {
  border-radius: 0px 0px 5px 5px;
  flex: 5;
  margin: 0px 0px 30px 10px;
}

#sample-third {
  border-radius: 5px 5px 0px 0px;
  height: 300px;
  margin-top: 30px;
  width: 100%;
}

.slider-btn-group {
  padding-right: 5px;
}

#slider-row-first {
  margin-bottom: 5px;
}

#slider-row-second {
  margin-top: 5px;
}
